
header{
  background-color: #83BFFF;
  width: 98%;
  position: fixed;
  top: 0;
  display: inline-block;
}
.contenedor{
  display: flex;
  flex-direction:row;
  }
img{
  text-align: center;
}
#encabezado .contenedor > div{
  text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: white;
	width: 33%;
}
#titulo{
  margin-top: 200px
}
footer{
  clear: both;
  width: 100%;
  background-color: #B8BCC1;
  }
