h1{
  font-size: 30px;
  font-family: arial;
  color: #1C2ABD
}
h2{
  font-size: 25px;
  font-family: arial
}
img{
  background-color: white;
  border-radius: 10px
}
footer{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px
}
#contenedor{
  font-family: helvetica;
  font-size: 16px
}
#encabezado{
  display: block;
  margin: 0 auto
}
.item{
  color: red
}
*{
  margin: 1vh 1vw
}
h1 + h2{
  text-decoration: underline;
}
