header{
  background-color: gray;
  height:220px;
  width: 100%;
  padding: 0.5%
}
header aside{
  width: 20%;
  height: 200px;
  background-color: blue;
  float: left;
}
header article{
  width: 80%;
  height: 200px;
  background-color: rgb(150, 185, 203);
  float: right;
}
header h1{
  font-family: arial
}
header h2{
  font-family: arial
}
header svg{
  align-content: center;

}
